extends ./partials/framework
block title
  title= albumOwner + " on MIST"
block extraMetas
block extraLinks
  script(type='text/javascript' src='/js/ugly.mist.js')
  script(type='text/javascript' src='/js/ugly.mistui.js')
  script(type='text/javascript' src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
  script(type='text/javascript' src='/js/gallery.js')
  script(type='text/javascript' src='/js/likes.js')

block stylesheets
  link(rel='stylesheet' href='/css/gallery')

block content
  div(id='main')
    div(id='top')
      div(id='pageTitle')
          h1= albumOwner
          if (albumOwner==albumTitle.username)
            h2= albumTitle.name
      div(id='subviews')
        a(href='/user/'+ albumOwner class='subview') profile
        a(href='/badges' class='subview') badges
        a(href='/user/'+ albumOwner +'/albums' class='subview' id= 'selected') albums
        a(href='/challenges' class='subview') challenges
    if loggedIn && (albumTitle.userid === user.userid) && (albumOwner==albumTitle.username)
      form(method='POST')
        input(type='hidden' value= albumTitle.albumid name='deleteWholeAlbum')
        input(type='submit' value='delete this album')
    div(id='gallery')
      div(id='images')
        ul(class='rig columns-3')
          if (albumContents != null)
            - for (var i = 0; i < albumContents.length; i++)
              li
                figure(data-imageid=albumContents[i].imageid)
                  a(href='/image/' + albumContents[i].imageid)
                    figcaption(class='center')= albumContents[i].title
                    canvas(id='canvas'+i width='180' height='180')
                    input(type='hidden' id='code'+i value=albumContents[i].code)
                  a(href='/user/' + albumContents[i].username): figcaption(class='right')= albumContents[i].username
                  if(albumContents[i].liked)
                    figcaption(class='left starred')= "★" + albumContents[i].rating
                  else
                    figcaption(class='left unstarred')= "★" + albumContents[i].rating
                  if loggedIn && (albumTitle.userid === user.userid)
                      form(method='POST')
                        input(type='hidden' value= albumContents[i].imageid name='deleteImage')
                        input(type='submit' value='delete from album')
