extends ./partials/framework
block title
	title= albumContents.title + " on MIST"
block extraMetas
block extraLinks

block stylesheets
	link(rel='stylesheet' href='/css/styles')
block content
	div(id='main')
		- for (var i = 0; i < albumContents.length; i++)
			img(src='/samples/color1.jpg')
			p= albumContents[i].title
			p= albumContents[i].code
			p= albumContents[i].username
			p= albumContents[i].rating