extends ./partials/framework
block title
  title= viewing.username + " on MIST"

block extraMetas
block extraLinks
  script(type='text/javascript' src='/js/profile.js')
block stylesheets

  link(rel='stylesheet', href='/css/profile')


block content
  div(id='main')
    div(id = 'pageTitle')
      h1= viewing.username
    div(id = 'subviews')
      a(href='/user/'+ viewing.username class='subview' id='selected') about
      a(href='/badges' class='subview') badges
      a(href='/user/'+ viewing.username +'/albums' class='subview') albums
      a(href='/challenges' class='subview') challenges
    div(id='subTitle')
      p= "member since " + viewing.signupTime.toLocaleDateString()
    div(id='featuredImage')
      figure
          img(src='/samples/bw1.jpg' alt='Untitled by username')
          p
            figcaption= "Untitled by " +  viewing.username
    if viewingSelf
      a(href='/accountSettings' class='settings'): account account settings
      div(id='bio')
        input(type='image' id='edit-bio' src='/icons/edit_button.png' value='submit')
        div(id='bibliography')
          figcaption= viewing.about
            form(method='POST' id='bio-form')
              textarea(name='aboutSection' cols='40' rows='10')= viewing.about
              input(type='submit' value='Update Bio' id='submit' name='aboutSubmit')
    else
      div(id='bio')
        div(id='bibliography')
          figcaption= viewing.about
          form(action='#' method='POST')