extends ./partials/framework
block title
 title= viewing.username + " on MIST"

block extraMetas
block extraLinks
 script(type='text/javascript' src='/js/ugly.mist.js')
 script(type='text/javascript' src='/js/ugly.mistui.js')
 script(type='text/javascript' src='/js/profile.js')
 script(type='text/javascript' src='/js/imagepage.js')
block stylesheets

 link(rel='stylesheet', href='/css/profile.css')


block content
 div(id='main')
  div(id = 'pageTitle')
   h1= viewing.username
  div(id = 'subviews')
   a(href='/user/'+ viewing.username class='subview' id='selected') profile
   a(href='/badges' class='subview') badges
   a(href='/user/'+ viewing.username +'/albums' class='subview') albums
   a(href='/challenges' class='subview') challenges
  div(id='subTitle')
   p= "member since " + viewing.signupTime.toLocaleDateString()
  div#profile
   if (image != NULL)
    div#featuredImage
     figure
      p.imageTitle= image.title
      a(href='/image/'+image.imageid)
       canvas(id='canvas' width='400' height='400')
      figcaption(class='right'): a(href='/user/'+ image.username)= image.username
    p(id='code' class='code')= image.code
   else
    div#featuredImage
     figure
      h1(class='imageTitle')
       if viewingSelf
        a(href='/user/'+viewing.username +'/images')
         canvas(id='canvas' width='400' height='400')
          script.
           var canvas = document.getElementById('canvas');
           var context = canvas.getContext("2d");
           context.fillStyle ='#C0C0C0'
           context.font = '20pt Open Sans';
           context.fillText('Choose a Picture', 100, 200);
           context.fill();
           canvas.style.border = '#C0C0C0 1px dashed';
       else
         canvas(id='canvas' width='400' height='400')
          script.
           var canvas = document.getElementById('canvas');
           var context = canvas.getContext("2d");
           canvas.style.border = '#C0C0C0 1px dashed';
   if viewingSelf
    div#bio
     p.biography!= viewing.about
       input(type='image' id='edit-bio' src='/icons/edit_button.png' value='submit')
     form(method='POST' id='bio-form')
      textarea(name='aboutSection' cols='40' rows='5')!= viewing.about
      br
      input(type='submit' value='Update Bio' id='update' name='aboutSubmit')
     p.right: a(href='/accountSettings' class='settings') account settings
   else
    div#bio
     p(class='biography')!= viewing.about
     form(action='#' method='POST')
