extends ./partials/framework
block title
	title= viewing.username + " on MIST"

block extraMetas
block extraLinks

block stylesheets

	link(rel='stylesheet', href='/css/profile')


block content
	div(id='main')
		div(id = 'pageTitle')
			h1= viewing.username
		div(id = 'subviews')
			a(href='/me' class='subview' id='selected') about
			a(href='/badges' class='subview') badges
			a(href='/albums' class='subview') albums
			a(href='/challenges' class='subview') challenges
		div(id='subTitle')
			p= "member since " + viewing.signupTime.toLocaleDateString()
		div(id='featuredImage')
			figure
					img(src='/samples/bw1.jpg' alt='Untitled by username')
					p
						figcaption= "Untitled by " +  viewing.username
		if viewingSelf
			a(href='/accountSettings' id='link') Account Settings
			div(id='bio')
				a(href='/changeContent')
					img(src='/icons/edit_button.png' id='editButton')
				figcaption= viewing.about
				form(method='POST')
					textarea(name='aboutSection' cols='40' rows='10')= viewing.about
					input(type='submit' value='Update Bio' id='submit' name='aboutSubmit')
				form(action='#' method='POST')
					textarea(name='styled-textarea' id='styled' cols='40' rows='10') here is where we will put a mailbox
					input(type='submit' id='submit' name='submit')
		else
			div(id='bio')
				figcaption= viewing.about
				form(action='#' method='POST')
					textarea(name='styled-textarea' id='styled' cols='40' rows='10') send a message
					input(type='submit' id='submit' name='submit')
