extends ./partials/framework
block title
	title= image.title + " by " + image.username + " on MIST"
block extraMetas
block extraLinks

block stylesheets
	link(rel='stylesheet' href='/css/singleImage')
block content
	div(id='main')
		h1= image.title
		h2= image.modifiedAt.toLocaleDateString()
		figure
			img(src='/samples/color1.jpg')
			figcaption(class='left') &#9733;235
			figcaption(class='right')= "by " + image.username
		p(class='code')= image.code
		div
		div(id='comments')
			div(class='comment')
				h1(class='op'): a(href='/user/'+ image.username)= image.username
				p I like the gradation from white to black I achieved in this image.
			div(class='comment')
				h1: a(href='/user/cutechick') cutechick
				p Great work! Maybe try doing something similar in RGB?
			if loggedIn
				div(id='leaveComment' class='comment')
					h1: a(href='/user/' + user.username)= user.username
					form(method='POST')
						textarea(placeholder='leave a comment')
						input(type='submit' value='submit')
