extends ./partials/framework
block title
 title= image.title + " by " + image.username + " on MIST"
block extraMetas
block extraLinks
 script(type='text/javascript' src='/js/ugly.mist.js')
 script(type='text/javascript' src='/js/ugly.mistui.js')
 script(type='text/javascript' src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
 script(type='text/javascript' src='/js/imagepage.js')
 script(type='text/javascript' src='/js/likes.js')

block stylesheets
 link(rel='stylesheet' href='/css/singleImage.css')
block content
 div(id='main')
  h1= image.title
  h2= image.modifiedAt.toUTCString()
  figure(data-imageid=image.imageid)
   canvas(id='canvas' width='400' height='400')
   if(liked)
    figcaption(class='left starred')= "★" + image.rating
   else
    figcaption(class='left unstarred')= "★" + image.rating
   div(id="image-sharing")
      a(id="fb-image")
        share on facebook 
      a(id="image-tweet" href="https://twitter.com/share", class="twitter-share-button", data-lang="en" data-text="Check out \""+image.title+"\" by "+image.username+" on @MISTbyGlimmer", data-url="http://glimmer.grinnell.edu/image/"+image.imageid)
        Tweet       
      a(href='/user/'+ image.username)
        figcaption(class='right')= image.username
  p(id='code' class='code')= image.code
  table(id='comments')
   - for (var i=0; i < comment.length; i++)
    tr(class='comment')
      th(class='user'): a(href='/user/'+ comment[i].username)= comment[i].username
      td(class='comment')!= comment[i].comment
      td(class='comment')!= comment[i].postedAt.toGMTString()
   if loggedIn
    if (image.userid === user.userid)
     form(method='POST')
      input(type='hidden' value= image.imageid name='profile')
      input(type='submit' class='profile' value='set as featured image')
     form(method='POST')
      input(type='hidden' value= image.imageid name='delete')
      input(type='submit' class='delete' value='delete this image')
    div(id='add')
      ul
        li + add to album
          ul
            - for(var i=0; i < albums.length; i++)
              form(method='POST')
                li= albums[i].name
                  input(type='hidden' value= albums[i].albumid  name='add')
                  input(type='submit' value='select' class='select')
    tr(id='leaveComment' class='comment')
     th(class="user"): a(href='/user/' + user.username)= user.username
     td.comment: form(method='POST')
      textarea(name='newComment' required= 'required' placeholder='leave a comment')
      input(type='submit' value='submit' name='commentSubmit')
