<% var title= image.title + " by " + image.username + " on MIST" %>
<% var jpgURL= "\"http://glimmer.grinnell.edu/jpg/"+image.imageid+"/?width=800&height=800\"" %>
<% var css= '<link rel="stylesheet" href="/css/singleImage.css">' %>
<% var meta= '<meta property="og:image" content=' + jpgURL + '/>' %>
<% var js= '<script type="text/javascript" src="/js/imagepage.js"></script>' %>
<% include head.ejs %>
  <% if (user) { %>
    <% if (image.userid === user.userid) { %>
     <div id='imageSettings'>
      <form method='POST'>
        <input type='hidden' value= <%= image.imageid %> name='profile' />
        <input type='submit' class='profile' value='set as featured image' onclick="return confirm('Are you sure you want to change your featured image?');">
     </form>
      <form method='POST'>
        <input type='hidden' value= <%= image.imageid %> name='delete' />
        <input type='submit' class='delete' value='delete this image' onclick="return confirm('Are you sure you want to delete this image forever?');">
      </form>
     </div>
    <% } // if it's the user's image%>
  <% } // if it's the user's image%>
<h1><%- image.title %></h1>
<h2><%- image.modifiedAt.toUTCString() %></h2>
<figure>
  <canvas id="canvas" width="400" height="400"></canvas>
  <div id="image-sharing" data-imageid=<%= image.imageid %>>
    <figcaption class="<%= liked ? 'left starred' : 'left unstarred' %>">★<%- image.rating %></figcaption>
    <div id="image-fb-share" data-href="<%= 'http://glimmer.grinnell.edu/image/' + image.imageid %>" data-type="button" class="fb-share-button"></div>
    <a id="image-tweet" href="https://twitter.com/share" data-lang="en" data-text= '<%- "Check out " + ((user&&user.userid===image.userid) ? "my image, \"" + image.title + "\"" : "\"" + image.title + "\" by " + image.username) + " on @MISTbyGlimmer"%>' data-url=<%- "\"http://glimmer.grinnell.edu/image/" + image.imageid + "\"" %> class="twitter-share-button">
      <Tweet>      </Tweet>
    </a>
  <a href="<%='/user/' + image.username %>">
    <figcaption class="right"><%- image.username %></figcaption>
  </a>
  </div> <!-- image-sharing -->
  <div id="image-controls">
    <% if(image.code.indexOf("t.") > -1 || image.code.indexOf("m.") > -1) { %>
    <button id="animator" class="animations">stop</button>
  <% } %>
    <button id="jpeg" class="animations">jpeg</button>
    <button id="showcode" class="animations">code</button>
     Resolution: 1px <input id="pixels" type="range" min="1" max="400" value="200" step ="1"> 400px
  </div> <!-- image-controls -->
</figure>
<p id="code" class="code" style="display:none;"><%- image.code %></p>
<div style="align:center; margin-left: auto; margin-right: auto; width:100%;">
  <p id="pretty" class="pretty" style="display:none;"></p>
</div>
<table id="comments">
  <% for (var i = 0; i < comments.length; i++) { %>
    <tr class="comment" id=<%- "'comment" + comments[i].commentId + "'" %>>
      <th class="user">
        <a href='<%= "/user/" + comments[i].username %>'><%- comments[i].username %></a>
      </th>
      <td class="comment"><%- comments[i].comment %></td>
      <td class="date"><script>document.write(describeDate("<%= comments[i].postedAt %>"))</script></td>
      <% if(user) { %>
        <td class='flagComment <%= (comments[i].flagged) ? 'flaggedComment' : ''%>'>&#9873</td>
        <% if(user.type == "A" || user.type == "M" || user.userid == comments[i].userid || user.userid == image.userid) { %>
          <td class='deleteComment'>X</td>
        <% } %>
      <% } %>
    </tr>
  <% } // for %>
  <% if (user) { %>
    <% if(user.type == "A" || user.type == "M") { %>
      <% if(image.featured == 1) { %>
        <div id="add">
          <ul>
            <li id="featureImage" data-featureStatus="false" data-imageid='<%=image.imageid%>'>- unfeature image</li>
          </ul>
        </div>
      <% } else { %>
        <div id="add">
          <ul>
            <li id="featureImage" data-featureStatus="true" data-imageid='<%=image.imageid%>'>+ feature image</li>
          </ul>
        </div>
      <% } %>
    <% } // If user is moderator or admin %>
    <div id="add">
      <ul>
        <li>+ add to album
          <ul>
            <% for (var i=0; i < albums.length; i++) {%>
              <li><%= albums[i].name %>
                <form method='POST'>
                  <input type='hidden' value= <%= albums[i].albumid %> name='add' />
                  <input type='submit' value='select' class='select' />
                </form>
              </li>
            <% } // for %>
          </ul>
        </li>
      </ul>
    </div> <!-- add -->

    <tr id="leaveComment" class="comment">
      <th class="user">
        <a href=<%="/user/" + user.username %>><%-user.username%></a>
      </th>
      <td class="comment"><form method="POST"><textarea name="newComment" required="required" placeholder="leave a comment"></textarea><input type="submit" value="submit" name="commentSubmit"></form></td>
    </tr>
  <% } %>
</table>
<% include foot.ejs %>
