<% var title= image.title + " by " + image.username + " on MIST" %>
<% var jpgURL= "\"http://glimmer.grinnell.edu/jpg/"+image.imageid+"/?width=800&height=800\"" %>
<% var css= '<link rel="stylesheet" href="/css/singleImage.css">' %>
<% var meta= '<meta property="og:image" content=' + jpgURL + '/>' %>
<% include head.ejs %>
<script type="text/javascript" src="/js/imagepage.js"></script>
<h1><%- image.title %></h1>
<h2><%- image.modifiedAt.toUTCString() %></h2>
<figure data-imageid=<%= image.imageid %>>
  <canvas id="canvas" width="400" height="400"></canvas>
  <div id="image-sharing">
    <figcaption class="<%= liked ? 'left starred' : 'left unstarred' %>">★<%- image.rating %></figcaption>
    <div id="image-fb-share" data-href="<%= 'http://glimmer.grinnell.edu/image/' + image.imageid %>" data-type="button" class="fb-share-button"></div>
    <a id="image-tweet" href="https://twitter.com/share" data-lang="en" data-text= '<%- "Check out " + ((user&&user.userid===image.userid) ? "my image, \"" + image.title + "\"" : "\"" + image.title + "\" by " + image.username) + " on @MISTbyGlimmer"%>' data-url=<%- "\"http://glimmer.grinnell.edu/image/" + image.imageid + "\"" %> class="twitter-share-button">
      <Tweet>      </Tweet>
    </a>
  <a href="<%='/user/' + image.username %>">
    <figcaption class="right"><%- image.username %></figcaption>
  </a>
  </div> <!-- image-sharing -->
  <div id="image-controls">
    <% if(image.code.indexOf("t.") > -1 || image.code.indexOf("m.") > -1) { %>
    <button id="animator">stop</button>
  <% } %>
    <button id="jpeg">jpeg</button>
    Resolution: 1px <input id="pixels" type="range" min="1" max="400" value="200" step ="1" style="width: 80px;"> 400px
  </div> <!-- image-controls -->
</figure>
<p id="code" class="code"><%- image.code %></p>
<table id="comments">
  <% for (var i = 0; i < comments.length; i++) { %>
    <tr class="comment" id=<%- "'comment" + comments[i].commentId + "'" %>>
      <th class="user">
        <a href='<%= "/user/" + comments[i].username %>'><%- comments[i].username %></a>
      </th>
      <td class="comment"><%- comments[i].comment %></td>
      <script>
        /**
         * Given a number of units and a type of unit, generate
         * a string that describes the units.
         */
        function describeUnits(amt,unit) {
          if (amt == 1) {
            return "1 " + unit + " ago";
          }
          else {
            return amt + " " + unit + "s ago";
          }
        } // describeUnits

        /**
         * Describe a date.  Given a date, return a string that summarizes
         * the date (e.g., "2 weeks ago").
         */
        function describeDate(date) {
          var tmp = new Date(date);
          var timePosted = Date.UTC(tmp.getFullYear(), tmp.getMonth(), 
              tmp.getDate(), tmp.getHours(), tmp.getMinutes(), 
              tmp.getSeconds())/1000;
          var now = new Date();
          var rightNow = Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 
              now.getUTCDate(), now.getUTCHours(), now.getUTCMinutes(), 
              now.getUTCSeconds())/1000;
          var dateSentence;
          var secs = rightNow-timePosted;
          var secsPerHour = 60 * 60;
          var secsPerDay = secsPerHour * 24;;
          var secsPerWeek = secsPerDay * 7;
          var secsPerMonth = secsPerDay * 31;
          var secsPerYear = secsPerDay * 365;
          if ((secs/secsPerYear) >= 1) {
            dateSentence = describeUnits(Math.floor(secs/secsPerYear), "year");
          }     
          else if ((secs/secsPerMonth) >= 1) {
            dateSentence = describeUnits(Math.floor(secs/secsPerMonth), "month");
          }
          else if ((secs/secsPerWeek) >= 0.8) {
            dateSentence = describeUnits(Math.round(secs/secsPerWeek), "week");
          }
          else if ((secs/secsPerDay) >= 1) {
            dateSentence = describeUnits(Math.floor(secs/secsPerDay), "day");
          }
          else if ((secs/secsPerHour) >= 1) {
            dateSentence = describeUnits(Math.floor(secs/secsPerHour), "hour");
          }
          else if ((secs/60) >= 1) {
            dateSentence = describeUnits(Math.floor(secs/60), "minute");
          }
          else {
            dateSentence = 'a few seconds ago';
          }
          console.log("DateSentence",dateSentence,"secs",secs);
          return dateSentence;
        } // describeDate
      </script>
      <td class="date"><script>document.write(describeDate("<%= comments[i].postedAt %>"))</script></td>
      <td class='deleteComment'></td>
      <% if(user) { %>
        <td class='flagComment <%= (comments[i].flagged) ? 'flaggedComment' : ''%>'>&#9873</td>
        <% if(user.type == "A" || user.type == "M" || user.userid == comments[i].userid || user.userid == image.userid) { %>
          <td class='deleteComment'>X</td>
        <% } %>
      <% } %>
    </tr>
  <% } // for %>
  <% if (user) { %>
    <% if (image.userid === user.userid) { %>
      <form method='POST'>
        <input type='hidden' value= <%= image.imageid %> name='profile' />
        <input type='submit' class='profile' value='set as featured image' />
      </form>
      <form method='POST'>
        <input type='hidden' value= <%= image.imageid %> name='delete' />
        <input type='submit' class='delete' value='delete this image' />
      </form>
    <% } // if it's the user's image%>
    <div id="add">
      <ul>
        <li>+ add to album
          <ul>
            <% for (var i=0; i < albums.length; i++) {%>
              <li><%= albums[i].name %>
                <form method='POST'>
                  <input type='hidden' value= <%= albums[i].albumid %> name='add' />
                  <input type='submit' value='select' class='select' />
                </form>
              </li>
            <% } // for %>
          </ul>
        </li>
      </ul>
    </div> <!-- add -->

    <tr id="leaveComment" class="comment">
      <th class="user">
        <a href=<%="/user/" + user.username %>><%-user.username%></a>
      </th>
      <td class="comment"><form method="POST"><textarea name="newComment" required="required" placeholder="leave a comment"></textarea><input type="submit" value="submit" name="commentSubmit"></form></td>
    </tr>
  <% } %>
</table>
<% include foot.ejs %>
